dataset/
sample_data/
dataset/archive/annotations/
dataset/archive/images/

data_stats.png
keras_model.h5
labels.txt
__pycache__/

__pycache__/
venv/
venv/Lib
venv/Scripts
lerning/Lab1/img.webp
lerning/Lab1/mask_detector.h5
mask-frontend-react/
ai-detector-python/
proxy-backend-spring/demo/
Project-main/processed_dataset/
